.list-container {
    margin-top: 20px;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  
  .list-item:hover {
  transform: scale(1.03);
    background-color: #f9f9f9;
  }
  
  .list-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .list-content {
    flex: 1;
  }
  
  .list-title {
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #333;
  }
  
  .list-date {
    margin-bottom: 12px;
    font-size: 1em; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: 500; 
    color: #555; 
    background-color: #f9f9f9; 
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    transition: all 0.3s ease; 
  }
  
  .list-right {
    margin-bottom: 12px;
    font-size: 1em; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: 500; 
    color: #555; 
    background-color: #f9f9f9; 
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    transition: all 0.3s ease; 
  }
  
  .list-date:hover {
    color: #333; 
    background-color: #e8e8e8; 
    transform: translateY(-2px); 
  }
  
  .list-date::before {
    content: '\1F4C5'; 
    margin-right: 5px;
    font-size: 0.9em;
  }
  
  
  .list-description {
    color: #777;
  }
  
  .list-vote-label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .list-vote-label:hover {
    background-color: #eef5ff;
  }
  
  .list-vote-label input[type="radio"] {
    margin-right: 8px;
  }
  