.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    flex: 1;
    max-width: calc(33% - 20px);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card-description {
    margin-bottom: 20px;
    color: #777;
  }
  
  .card-vote-label {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-vote-label:hover {
    background-color: #f0f0f0;
  }
  
  .card-vote-label input[type="radio"] {
    margin-right: 8px;
  }
  