
.App-header {
  max-width: 1200px;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}

p {
  margin-bottom: 1rem;
}

.wallet-btn {
  padding: 0.7rem 1.5rem;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.wallet-btn:hover {
  background-color: #388E3C;
}

button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Oy kartlarını tanımlayalım */
form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.candidate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.candidate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.candidate-image {
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 50%; /* Resmin dairesel olmasını sağlar */
}

.candidate-card label {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.candidate-card input[type="radio"] {
  margin-right: 10px;
}