.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #e8edea;
}

.App-header {
  max-width: 1200px;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin-top: 0; 
}

.App-Content {
  top: 20px;
  max-width: 1200px;
  width: 1000px;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin-top: 0; 
  position: relative;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}

p {
  margin-bottom: 1rem;
}

.wallet-container {
  margin-left: auto;
}

.wallet-btn {
  padding: 0.7rem 1.5rem;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.wallet-btn:hover {
  background-color: #388E3C;
}
button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
